<!DOCTYPE html>
<html lang="en">
<head>
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">

      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
<body>
    <SCRIPT LANGUAGE="JavaScript">
    function changeFoodTpe(obj){
    var financeType = document.getElementById('financeType');
    var foodType = document.getElementById('foodType');
    foodType.options.length=0;

    if('income'==financeType.value){
    {% for t in incomeType %}
        option = new Option("{{ t.foodType }}", "{{ t.foodType }}");
        foodType.add(option);

    {% endfor %}
    }else if('outcome'==financeType.value){
     {% for t in outcomeType %}
        option = new Option("{{ t.foodType }}", "{{ t.foodType }}");
        foodType.add(option)
    {% endfor %}
    }
    }

    function hideComment(obj){
    var comment = document.getElementById('formComment');
    var foodType = document.getElementById('foodType');

    if('额外收入'==foodType.value||'额外支出'==foodType.value){
        comment.removeAttribute('hidden')
    }else{
        comment.setAttribute('hidden',true)
    }
    }
    </SCRIPT>
    <h1>增加粮食记录</h1>
    <hr>
    <p style="color: red; margin:10px 15px">{{ hint }}</p>
    <div class="col-md-12 column">
        <form action ='/finance/detail/add/' method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class = 'member_id'>
                    <label >哪只？</label>
                    <select class="combobox" name = 'member_id'>
                        {% for animal in animals %}
                            <option>{{ animal }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class = 'financeType'>
                    <label >偷粮食 or 加粮食?</label>
                    <select id="financeType" class="combobox" name = 'financeType' onchange="changeFoodTpe(this);">
                      <option value="income">收入</option>
                      <option value="outcome">支出</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class = 'foodType'>
                    <label >支出类型</label>
                    <select id="foodType" class="combobox" name = 'foodType' onchange="hideComment(this);">
                        {% for type in incomeType %}
                            <option>{{ type.foodType }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class = 'amount'>
                    <label for="amount">金额</label>
                    <input type="text" id="amount" name="amount"/>
                </div>
            </div>
            <div class="form-group">
                <div hidden class = 'amount' id = 'formComment'>
                    <label for="comment">备注</label>
                    <input type="text" id="comment" name="comment"/>
                </div>
            </div>




            <div>
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="../"><button type="button" class="btn btn-default">Previous</button></a>
            </div>
        </form>
    </div>



    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>
</html>