<!DOCTYPE html>
<html lang="en">
<head>
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
      <link href="/static/css/finance.css" rel="stylesheet">
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<style>
    .btn-primary{
        background-color: transparent;
        color: black
    }
</style>
<body>
    <script type="text/javascript">
	//<!CDATA[
		var bodyBgs = [];
		bodyBgs[0] = "/static/image/1.jpg";
		bodyBgs[1] = "/static/image/2.jpg";
		bodyBgs[2] = "/static/image/3.jpg";
		bodyBgs[3] = "/static/image/4.jpg";
		var randomBgIndex = Math.round( Math.random() * 3 );
	//输出随机的背景图
		document.write('<style>body{background-image:url(' + bodyBgs[randomBgIndex] + ');background-repeat:no-repeat;background-position: top;background-attachment: fixed;}</style>');
	//]]>
    </script>
    <SCRIPT LANGUAGE="JavaScript">
    function changeFoodTpe(obj){
        var financeType = document.getElementById('financeType');
        var foodTypeDiv = document.getElementById('foodTypeDiv');
        foodTypeDiv.innerHTML = "";

        {#foodType.options.length=0;#}
        if('收入'==financeType.value){
            {% for t in incomeType %}
                but =  '<button type="button" class="btn btn-primary" onclick="buttonGroupClick(\'foodType\', this)">{{ t.foodType }}</button>';
                foodTypeDiv.innerHTML += but;
            {% endfor %}
        }
        else if('支出'==financeType.value){
             {% for t in outcomeType %}
                but =  '<button type="button" class="btn btn-primary" onclick="buttonGroupClick(\'foodType\', this)">{{ t.foodType }}</button>';
                foodTypeDiv.innerHTML += but;
             {% endfor %}
        }
    }

    function hideComment(obj){
        var comment = document.getElementById('formComment');
        var foodType = document.getElementById('foodType');

        if('额外收入'==foodType.value||'额外支出'==foodType.value){
            comment.removeAttribute('hidden')
        }
        else{
            comment.setAttribute('hidden',true)
        }
    }


    function buttonGroupClick(id, obj){
        var name = obj.innerText;
        if (document.getElementById(id).value != name){
            document.getElementById(id).value = name;
            if (id == "financeType"){
                changeFoodTpe(document.getElementById(id));
            }
        }
    }

    function changeDate(delta, unit){
        inputTime = document.getElementById("datetime");
        var date = new Date(inputTime.value);
        if (unit == "day"){
            date.setDate(date.getDate() + delta);
        }
        else{
            date.setHours(date.getHours() + delta);
        }
        // format datetime
        var year = date.getFullYear()
        var date = new Date(date);
        // 因为js里month从0开始，所以要加1
        var month = date.getMonth() + 1;
        month = month < 10 ? "0" + month : month;
        var day = date.getDate();
        day = day < 10 ? "0" + day : day;
        var hour = date.getHours();
        hour = hour < 10 ? "0" + hour : hour;
        var minute = date.getMinutes();
        minute = minute < 10 ? "0" + minute : minute;
        str = year + '-' + month + '-' + day + "T" + hour + ":" + minute;
        inputTime.value = str
    }
    </SCRIPT>
    <h1>增加粮食记录</h1>
    <hr>
    <p style="color: red; margin:10px 15px">{{ hint }}</p>
    <div class="col-md-12 column">
        <form action ='/finance/detail/add/' method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class = 'member_id'>
                    <label >哪只？</label>
                    <input name = "member_id" id="member_id" readonly="readonly" value={{ defaultMember }}>
                    <div class="btn-group">
                        {% for animal in animals %}
                            <button type="button" class="btn btn-primary" onclick="buttonGroupClick('member_id', this)">{{ animal.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class = 'financeType'>
                    <label >偷粮食 or 加粮食?</label>
                    <input name = "financeType" id="financeType" readonly="readonly" style="width: 110px" value={{ defaultFinanceType }}>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="buttonGroupClick('financeType', this)">支出</button>
                        <button type="button" class="btn btn-primary" onclick="buttonGroupClick('financeType', this)">收入</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class = 'foodType'>
                    <label >支出类型</label>
                    <input name = "foodType" id="foodType" readonly="readonly">
                    <br>
                    <div class="btn-group" id="foodTypeDiv">
                        {% if "支出" == defaultFinanceType %}
                            {% for type in outcomeType %}
                                <button type="button" class="btn btn-primary" onclick="buttonGroupClick('foodType', this)">{{ type.foodType }}</button>
                            {% endfor %}
                        {% else %}
                            {% for type in incomeType %}
                                <button type="button" class="btn btn-primary" onclick="buttonGroupClick('foodType', this)">{{ type.foodType }}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class = 'amount'>
                    <label for="amount">金额</label>
                    <input type="text" id="amount" name="amount"/>
                </div>
            </div>
            <div class="form-group">
                <div class = 'comment' id = 'formComment'>
                    <label for="comment">备注</label>
                    <input type="text" id="comment" name="comment"/>
                </div>
            </div>
            <div class="form-group">
                <div class = 'datetime'>
                    <label for="datetime">日期</label>
                    <input id="datetime" type="datetime-local" name="datetime" value="{{ defaultDateTime }}"/>
                </div>
                <br>
                <button type="button" class="btn btn-primary" onclick="changeDate(-1, 'hour')">上一时</button>
                <button type="button" class="btn btn-primary" onclick="changeDate(1, 'hour')">下一时</button>
                <br>
                <button type="button" class="btn btn-primary" onclick="changeDate(-1, 'day')">上一天</button>
                <button type="button" class="btn btn-primary" onclick="changeDate(1, 'day')">下一天</button>
            </div>



            <div>
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="../"><button type="button" class="btn btn-default">Previous</button></a>
            </div>
        </form>
    </div>



    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>
</html>