<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Welcome to Cat Mouse Home</h1>
    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p class="nav-header">
			</p>
            <h2>
                <p>&nbsp&nbsp猫鼠粮食规划</p>
            </h2>


			<ul class="nav nav-list">
				<li>
					<a href="/finance/animal">大胃王们</a>
				</li>
				<li>
					<a href="/finance/detail">粮食记录</a>
				</li>
				<li>
					<a href="/finance/summary">每月存量小结</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>