<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
	<script type="text/javascript">
	//<!CDATA[
		var bodyBgs = [];
		bodyBgs[0] = "/static/image/1.jpg";
		bodyBgs[1] = "/static/image/2.jpg";
		bodyBgs[2] = "/static/image/3.jpg";
		bodyBgs[3] = "/static/image/4.jpg";
		var randomBgIndex = Math.round( Math.random() * 3 );
	//输出随机的背景图
		document.write('<style>body{background-image:url(' + bodyBgs[randomBgIndex] + ');background-repeat:no-repeat;background-position: top;background-attachment: fixed;}</style>');
	//]]>
    </script>
    <SCRIPT LANGUAGE="JavaScript">
    function isHidden(oDiv){
    var vDiv = document.getElementById(oDiv);
    vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
    // add code
    var allDiv = document.getElementsByTagName('div');
    for (var i=0; i<allDiv.length; i++) {
    if (vDiv != allDiv[i]) {
    allDiv[i].style.display = 'none';
    }
    }
    }
    </SCRIPT>
    <h1>Welcome to Cat Mouse Home</h1>
    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p class="nav-header">
			</p>
            <h2>
                <p>&nbsp&nbsp猫鼠粮食规划</p>
            </h2>
			<ul class="nav nav-list">
				<li>
					<a href="/finance/animal">大胃王们</a>
				</li>
				<li>
					<a href="/finance/detail">粮食记录</a>
				</li>
				<li>
					<a href="/finance/summary">每月存量小结</a>
				</li>
                <li>
					数据分析
                    <ul>
						<li>
							<a href="/finance/statistic/income">收入分析</a>
						</li>
                        <li>
							<a href="/finance/statistic/outcome">支出分析</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</div>
</body>
</html>