<!DOCTYPE html>
<html lang="en">
<head>
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/finance.css" rel="stylesheet">
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script>
        function filter(type, value) {
          if(value === '无筛选'){
              <!--   Here use \\? because java will transfer to \? to Regex     -->
              var re =new RegExp("(\\?|&)" + type + "=[^&]*");
              var reQ = new RegExp("\\?" + type + "=[^&]*");
              window.location.href = window.location.href.replace(re, "");
              if (window.location.href.search(reQ) != -1 && window.location.href.search(/&/) != -1){
                  window.location.href = window.location.href.replace(reQ, "").replace("&", "?");
              }
          }
          else if (window.location.href.search(/\?/) != -1){
              var re =new RegExp(type + "=[^&]*");
              if (window.location.href.search(re) != -1){
                  window.location.href = window.location.href.replace(re, type + "=" + value);
              }
              else{
                  window.location.href += "&" + type + "=" + value;
              }
          }
          else{
              window.location.href += "?" + type + "=" + value;
          }
        } 

        function goto_page(pageNum) {
              if (window.location.href.search(/\?/) != -1){
                  var re =new RegExp("page=[^&]*");
                  if (window.location.href.search(re) != -1){
                      window.location.href = window.location.href.replace(re, "page=" + pageNum);
                  }
                  else{
                      window.location.href += "&page=" + pageNum;
                  }
              }
              else{
                  window.location.href += "?page=" + pageNum;
              }
        }

        function tr_show(){
          var trList= $("tbody").children("tr");//获取tr，遍历
          for(var i =0;i<trList.length;i++){
            var tdArr = trList.eq(i).find("td");//获取td遍历
            var tdText = tdArr.eq(17).text();//获取td内容,第17列,目前只用于Outcomesta
            tdArr.eq(17).attr("title",tdText);//设置title
          }
        }

        function check(){
            var startMonth=document.getElementById('start_month');
            var startYear=startMonth.value.split("-")[0]
            var startMonth=startMonth.value.split("-")[1]
            var endMonth=document.getElementById('end_month');
            var endYear=endMonth.value.split("-")[0]
            var endMonth=endMonth.value.split("-")[1]
            if(eval(startYear)>eval(endYear)){
                alert('开始月份大于结束月份');
                window.location.href = window.location.href;
                return false;
            }else if(startYear==endYear && eval(startMonth)>eval(endMonth)){
                alert('开始月份大于结束月份');
                window.location.href = window.location.href;
                return false;
            }
        }
      </script>
</head>
<body onload="tr_show()">
    <h1>精致分析--支出 {{ period }}</h1>
    <hr>
    <p style="color: red; margin:10px 15px">{{ hint }}</p>
    <div class="container-fluid" name="fanye">
      <nav aria-label="Page navigation">
        <ul class="pagination">

          <!--上一页-->
          <li class="{% if not page.has_previous %}disabled{% endif %}">
            {% if page.has_previous %}
              <a href="javascript:void(0);" aria-label="Previous" onclick="goto_page({{ page.previous_page_number }})">
            {% endif %}
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <!--页码-->
          <!--这里展示页码使用传递过来的dis_range -->
          {% for num in dis_range %}
          <li class="{% if num == page.number %}active{% else %}{% endif %}" >
              <a href="javascript:void(0);" onclick="goto_page({{ num }})">{{ num }}</a>
          </li>
          {% endfor %}

          <!--下一页-->
          <li class="{% if not page.has_next %}disabled{% endif %}">
            {% if page.has_next %}
              <a href="javascript:void(0);" aria-label="Next" onclick="goto_page({{ page.next_page_number }})">
            {% endif %}
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      <a href="/finance" style="float:right; margin:0px 50px 0px 10px" >返回首页 </a>
      </nav>
    </div>

    <div name="tongji">
      <form onsubmit="return check()" style="float:right" action ='/finance/statistic/outcome/' method="post">
        {% csrf_token %}
        <div class="form-group">
          <label >开始月份</label>
          <input name = "start_month" id="start_month" type="month" required>
        </div>
        <div class="form-group">
          <label >结束月份</label>
          <input name = "end_month" id="end_month" type="month" required>
        </div>
        <button type="submit" class="btn btn-default">开始筛选总计条目</button>
      </form>
      
      <select style="width:100px; float:right; margin:0px 90px 0px 10px" class="form-control" onchange="filter('member', this.value)">
        <option>筛选人</option>
        <option>猫哥</option>
        <option>鼠妹</option>
        <option>无筛选</option>
      </select>
    </div>
    
    <div class ='table'>
    <table class="table" style="table-layout:fixed">
        <thead>
            <tr>
                <th style="white-space:nowrap">年份</th>
                <th style="white-space:nowrap">月份</th>
                <!--<th style="white-space:nowrap">更改时间</th>-->
                <th style="white-space:nowrap">人员</th>
                <th style="white-space:nowrap">月度个人支出</th>
                <th style="white-space:nowrap">月度家庭支出</th>
                <th style="white-space:nowrap">独自用餐</th>
                <th style="white-space:nowrap">共同用餐</th>
                <th style="white-space:nowrap">游戏</th>
                <th style="white-space:nowrap">工作</th>
                <th style="white-space:nowrap">礼物</th>
                <th style="white-space:nowrap">交通</th>
                <th style="white-space:nowrap">购物</th>
                <th style="white-space:nowrap">医疗</th>
                <th style="white-space:nowrap">派派</th>
                <th style="white-space:nowrap">趣多多</th>
                <th style="white-space:nowrap">水电</th>
                <th style="white-space:nowrap">煤气</th>
                <th style="white-space:nowrap">家庭采购</th>
                <th style="white-space:nowrap">旅游</th>
                <th style="white-space:nowrap">额外支出</th>
                <th style="white-space:nowrap">总计支出(不包括额外)</th>
            </tr>
        </thead>
        {% for item in page %}
            <tbody>
                <tr>
                    <td style="white-space:nowrap">{{ item.year }}</td>
                    <td style="white-space:nowrap">{{ item.month }}</td>
                    <!--<td style="white-space:nowrap">{{ item.updateTime|date:"Y-m-d H:i:s" }}</td>-->
                    <td style="white-space:nowrap">{{ item.member }}</td>
                    <td>{{ item.personalExpense|floatformat }}</td>
                    <td>{{ item.familyExpense|floatformat }}</td>
                    <td>{{ item.outcomePerMeal|floatformat }}</td>
                    <td>{{ item.outcomeTogMeal|floatformat }}</td>
                    <td>{{ item.outcomeGame|floatformat }}</td>
                    <td>{{ item.outcomeWork|floatformat }}</td>
                    <td>{{ item.outcomeGift|floatformat }}</td>
                    <td>{{ item.outcomeTraffic|floatformat }}</td>
                    <td>{{ item.outcomePurchase|floatformat }}</td>
                    <td>{{ item.outcomeMedical|floatformat }}</td>
                    <td>{{ item.outcomeFamBaby|floatformat }}</td>
                    <td>{{ item.outcomeFamCat|floatformat }}</td>
                    <td>{{ item.outcomeFamEle|floatformat }}</td>
                    <td>{{ item.outcomeFamGas|floatformat }}</td>
                    <td>{{ item.outcomeFamPurchase|floatformat }}</td>
                    <td>{{ item.outcomeFamTravel|floatformat }}</td>
                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.outcomeOther }}</td>
                    <td>{{ item.personalExpense|add:item.familyExpense|floatformat }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    </div>

    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>
</html>

